{% extends 'base.html.twig' %}

{% block title %}Hello HomeController {% endblock %}

{% block body %}
    <div class="container">
        {# <h1>{{ product.name}} </h1> #}
        <h1></h1>
        <div class="card mb-3" style="max-width: 2000px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/images/'~product.images)}}" class="img-fluid rounded-start imgHomeShow" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{product.price}}€</small></p>
                    </div>
                    <p><a href= "{{path ('app_cart_new', {'id' : product.id}) }}" class="btn btn-primary">ACHETE!</a></p>
                </div>
            </div>
        </div>
        <h2 class="mt-5">Dernier produits ajouté</h2>

    <section class='d-flex justify-content-between flex-md-wrap gap-4 mt-6'>
        {% for lastProduct in lastProductAdded %}
            <div class="card" style="width: 18rem;">  
                <div class="card-body">
                    <img src="{{ asset('uploads/images/'~lastProduct.images)}}" class="img-fluid rounded-start imgHomeShow imgLastAdded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{lastProduct.name}}</h5>
                        <p class="card-text">{{lastProduct.description}}</p>
                        <a href="#" class="btn btn-primary">Card link</a>
                    {# <a href="#" class="card-link">Another link</a> #}
                    </div>
                </div>    
            </div>
        {% endfor %}
    </section>



{% endblock %}