{# {% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/my_ecommerce_directory/src/Controller/CartController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/my_ecommerce_directory/templates/cart/index.html.twig</code></li>
    </ul>
</div>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container">

     {# {% include 'layouts/_flash_message.html.twig' %} } on inclut le template _flash_message.html.twig qui se trouve dans le dossier category/layouts, ce template contient le code pour afficher les messages flash (succès, erreur, etc.) #}

    <h1>Panier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}€</td>
                <td>{{ item.quantity }}</td>
                <td>{{item.product.price * item.quantity }}</td>
                <td>
                    <a href="{{ path('app_cart_product_remove', {'id': item.product.id}) }}" class="btn btn-danger">Vider le panier</a>
                    {#<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('app_product_stock_add', {'id':product.id}) }}" class="btn btn-outline-secondary">Ajouter du stock</a> #}
                    {# <a href="{{ path('app_product_delete',{'id': product.id})}}" class="btn btn-danger">Supprimer</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Panier vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Total: {{total}}€</h2>
    <a href="{{ path('app_product_new') }}" class="btn btn-info">Payer</a>
    <a href="{{ path('app_cart_remove') }}" class="text text-danger text-uppercase" style=text-decoration:none>Supprimer le panier</a>
    </div>
{% endblock %}
