{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
     {#} on affiche un titre pour la page qui liste les catégories #}
     {% include 'layouts/_flash_message.html.twig' %} {#} on inclut le template _flash_message.html.twig qui se trouve dans le dossier category/layouts, ce template contient le code pour afficher les messages flash (succès, erreur, etc.) #}
<table class='table'>
        <tr>
            <th>Nom de la catégorie</th>
            <th>Action</th>
        </tr>
        {% for category in mesCategoriesExistante %} {#} boucle pour afficher les catégories existantes de ma table mesCategoriesExistante, category est une variable que l'on a inventé qui représente chaque élément de ma table mesCategoriesExistante
        on va donc boucler sur chaque élément de ma table mesCategoriesExistante et pour chaque élément, on va afficher son nom et une action (modifier ou supprimer) #}
            <tr>
                <td>
                {{ category.name }} {#} on affiche le nom de la catégorie en utilisant la syntaxe {{ }} qui permet d'afficher une variable en twig,
                 category.name permet d'accéder à la propriété name de l'objet category#}
                </td>
                <td>
                    <a href="{{ path('app_category_update', {'id': category.id}) }}" class="btn btn-outline-primary">Modifier</a> 
                    {#btn btn-outline-primary sont des classes de bootstrap pour styliser le bouton en bleu avec un contour 
                     {{ path('app_category_update', {'id': category.id}) }} génère l'URL pour la route app_category_update en passant
                      l'id de la catégorie à modifier en paramètre, ce qui permet d'accéder à la page de modification de cette catégorie spécifique #}
                    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')" href="{{ path('app_category_delete', {'id': category.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                {#return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?') affiche une boîte de dialogue de confirmation avant de procéder à la suppression,
                 ce qui permet d'éviter les suppressions accidentelles. Si l'utilisateur clique sur "OK", la suppression se poursuit, sinon elle est annulée. #}
                 {#btn btn-outline-danger sont des classes de bootstrap pour styliser le bouton en rouge avec un contour 
                 {{ path('app_category_delete', {'id': category.id}) }} génère l'URL pour la route app_category_delete en passant
                  l'id de la catégorie à supprimer en paramètre, ce qui permet d'accéder à la page de suppression de cette catégorie spécifique #}
                </td>
            
            <tr>
        {% else %}
            <p>Aucune catégorie existante</p>
        {% endfor %}
    </table>
    <a href="{{ path('app_category_new') }}" class="btn btn-success">Ajouter une catégorie</a>

{% endblock %}
