{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des utilisateurs</h1>
<table class="table" >
    <tr>
        <th>id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>
                    {% if ('ROLE_ADMIN' in user.roles) %}
                        <span class="text-primary">Administrateur</span>
                    {% elseif ('ROLE_EDITOR' in user.roles) %}
                        <span class="text-success">Éditeur</span>
                    {% else %}
                        <span class="text-secondary">Client</span>
                    {% endif %}

                {% if('ROLE_ADMIN'not in user.roles)%}
                    <a href="{{ path('app_user_edit_role', {'id': user.id}) }}" class="btn btn-outline-warning">Modifier</a>
                {% endif %}
            </td>
            <td> 
            {% if('ROLE_ADMIN' not in user.roles) %}
                <a href="#" class="btn btn-danger">Delete</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

</div>
{% endblock %}
